.body{
    width: 400px;
    height: 700px;
    color: darkgreen;
}
.text{
    width: 30%;
    height: 500px;
    border-radius: 60%;
    margin-left: 600px;
    margin-top:300px;
    border: 1px solid black;
    background-color:white;
}

.text2{
    width: 7%;
    height: 190px;
    border-radius: 60%;
    margin-left: 750px;
    margin-top:-400px;
    border: 1px solid black;
    background-color:white;
}
.text3{
    width: 7%;
    height: 190px;
    border-radius: 60%;
    margin-left: 1000px;
    margin-top:-200px;
    border: 1px solid black;
    background-color:white;
}
.text4{
    width: 20%;
    height: 300px;
    border-radius: 50%;
    margin-left: 550px;
    margin-top: -70px;
    background-color:black;
}
.text5{
    width: 20%;
    height: 300px;
    border-radius: 50%;
    margin-left: 900px;
    margin-top:-300px;
    background-color:black;
}
.text6{
    width: 10%;
    height: 90px;
    border-radius: 50%;
    margin-left: 850px;
    margin-top:-300px;
    border: 1px solid white;
    background-color:black;
}
.text7{
    width: 5%;
    height: 150px;
    border-radius: 60%;
    margin-left: 780px;
    margin-top:-200px;
    background-color:black;
}
.text8{
    width: 5%;
    height: 150px;
    border-radius: 60%;
    margin-left: 1020px;
    margin-top:-160px;
    background-color:black;
}
.text9{
    width: 30%;
    height: 500px;
    border-radius: 60%;
    margin-left: 600px;
    margin-top:250px;
    border: 1px solid black;
    background-color:white;
}
.text10{
    width: 5%;
    height: 130px;
    border-radius: 50%;
    margin-left: 900px;
    margin-top:-550px;
    background-color:red;
}
.text11{
    width: 20%;
    height: 300px;
    border-radius: 50%;
    margin-left: 550px;
    margin-top: -300px;
}